.avatar-round{
    border-radius: 50%;
}

.avatar-square{
    border-radius:10%;
}

.avatar-text{
    background: var(--primary-color);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 50%;
    padding:3rem 3.5rem 4rem 3.5rem;
    font-weight: 800;
}

.avatar-xs{
    width:4rem;
    height:4rem;
}


.avatar-sm{
    width: 6rem;
    height:6rem;
}


.avatar-md{
    width: 8rem;
    height:8rem;
}

.avatar-lg{
    width: 10rem;
    height:10rem;
}


.avatar-xl{
    width: 12rem;
    height:12rem;
}




