
   .image-cont{
  
    border: 2px solid black;
    padding:2rem;
    max-width:80rem;
    text-align: center;

 }
 
 
 .responsive-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  }


  .round-img{
    height: 50rem;
    width:50rem;
    border-radius: 50%;
    
  }


