
   .image-cont{
  
    border: 2px solid var(--primary-color);
    padding:2rem;
    max-width:80rem;
    text-align: center;

 }
 
 
 .responsive-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  }


  .round-img{
    max-height: 50rem;
    max-width:50rem;
    border-radius: 50%;
    /* object-fit: cover; */
  }


