.primary-text-color{
    color: var(--primary-text-color);
}
.secondary-text-color{
    color: var(--secondary-text-color)
}

.component-heading{
   color:var(--tertiary-text-color);
   font-weight: 700;
   font-size: 5rem;
   margin-top:50px;
  
}


.component-sub-heading{
   color:var(--secondary-text-color);
   font-size:2.5rem;
   margin-top:2rem;
   margin-bottom:2rem;
}


.component-para{
    color:var(--primary-text-color);
    font-weight: 600;
    margin-top:20px;
    font-size:2rem;
}


.component-text-highlighted{
   color:var(--secondary-text-color);
  
}



.h1{
    color: var(--floating-btn-background);
    font-size: 4rem;
    font-weight: 700;
}
.h2{
    color: var(--floating-btn-background);
    font-size: 3.5rem;
    font-weight: 700;
}
.h3{
    color: var(--floating-btn-background);
    font-size: 3rem;
    font-weight: 700;
}
.h4{
    color: var(--floating-btn-background);
    font-size: 2.5rem;
    font-weight: 700;
}
.h5{
    color: var(--floating-btn-background);
    font-size: 2rem;
    font-weight: 700;
}
.h6{
    color: var(--floating-btn-background);
    font-size: 1.5rem;
    font-weight: 700;
}

.line-through{
    text-decoration:line-through;
}

.text-underline{
    text-decoration: underline;
}


.bold-text{
    font-weight: 900;
}

.normal-text{
    font-weight: 400;
}

.light-text{
    font-weight: 100;
}


.italic-text{
    font-style: italic;
}


.centered-text{
    text-align: center;
}


.font-extra-large{
    font-size: 7rem;
}

.font-large{
    font-size: 5rem;
}


.font-mid{
    font-size: 4rem;
}


.font-small{
    font-size: 3rem;
}


.font-extra-small{
    font-size: 2rem;
}
