.primary-text-color{
    color: var(--primary-text-color);
}
.secondary-text-color{
    color: var(--secondary-text-color)
}

.component-heading{
   color:var(--tertiary-text-color);
   font-weight: 700;
   font-size: 5rem;
  
}


.component-sub-heading{
   color:var(--secondary-text-color);
   font-size:2.5rem;
   margin-top:20px;
}


.component-para{
    color:var(--primary-text-color);
    font-weight: 600;
    margin-top:20px;
}


.component-text-highlighted{
   color:var(--secondary-text-color);
  
}

.font-extra-large{
    font-size: 5rem;
}


.font-large{
    font-size:4rem;
}


.font-mid{
    font-size: 2rem;
}

.font-small{
    font-size: 1.5rem;
}

.font-extra-small{
    font-size: 1rem;
}
