/* navbar starts*/

body{
    background-color: var(--background-color);
}

.main-navbar{ 

    background-color: var(--secondary-color);
    width:100%;
    height: 10rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:2rem 0.5rem;
    position: fixed;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index:10;
    top:0;
    
}


.left-nav{
    font-size: 2.5rem;
    font-weight: 900;
    
}


.left-nav a{
    color:var(--secondary-text-color);
    text-decoration: none;
    margin-top:1.25rem;
    text-shadow: 1px 1px 5px;
    margin-left:20px;
}


.right-nav{
    display:flex;
    justify-content:space-evenly;
    width:31.25rem;
  
}

.right-nav li{
    list-style-type: none;
}

.right-nav a{
  
    text-decoration: none;
    font-size: 1.8rem;
    color:var(--secondary-text-color);
  
}

.right-nav a:hover{
   border-bottom: 3px solid var(--secondary-text-color);
   
}
/* navbar ends */


/* main-container starts */


.doc-main-container{
    margin-top:150px;
    margin-bottom:100px;
    display:flex;
    column-gap:50px;

}



  /* sidebar starts */


  .side-navbar{
    font-size:2rem; 
    width:22rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 2px solid var(--primary-color);
    min-width:21rem;
    position: fixed;
  }


  .side-navbar-item a{

    margin-left:50px;
    color:var(--secondary-text-color);
    text-decoration: none;
  
  }

  .side-navbar p{
    margin-top:25px;
  }



  .side-navbar-item a:hover{
 
    border-radius:0.5rem;
    background-color:var(--primary-light-color);
    padding:10px 30px;
  }

  .side-navbar h4{
      margin-top:12px;
      margin-left:25px;
      color:var(--primary-text-color);
      font-weight: 700;
  }


  /* side-navbar ends */

 .document-container{
     width:100rem;
     margin-left:300px;
    
 }

  .component-section{
    
     margin-top:3rem;
     margin-right:3rem;
  }


  .comp-example{
      width:80rem;
      margin-bottom: 30px;
      border: 2px solid var(--primary-color);
      padding:2rem;
      margin-top:2rem;
      
  }

.comp-example-sub-container{
    width:80rem;
    display: flex;
    column-gap: 20px;
    align-items:center;
   
}

.avatar-example-sub-container{
    border: 2px solid var(--primary-color);
    padding:2rem;
    margin-bottom:4rem;
    display:flex;
    column-gap:20px;
    align-items: center;
}

.component-code-example{
    margin-top:3rem;
    margin-left:10rem;
    width:800px;
    height: 400px;

  }

  .component-para{
      margin-top:40px;
      margin-bottom:40px;
      color:var(--primary-text-color);
      margin-right:20px ;
  }

  .component-code-example::-webkit-scrollbar{
     display:none;
  }

  .component-code-example::-webkit-scrollbar-thumb{
      background:var(--secondary-color);
  }



  .btn{
      margin-right:10px;
  }

  .floating-action-btn{
      margin-right:20px;
  }


  .badge-comp-example{
      display:flex;
      justify-content:space-evenly;
      align-items: center;
      width:80rem;
      margin-bottom: 30px;
      border: 2px solid var(--primary-color);
      padding:2rem;
      margin-top:2rem;
      
  }

  .fa-facebook-square {
      color:#4267B2;
  }

  .fa-whatsapp{
    color:#25D366;
    
  }

  
  /* iframe classess */

 .code-block{
    border:0; 
    transform: scale(1); 
    overflow:hidden;
 }


  .alert-code{
    width: 790px; 
    height: 298px; 

  }


  .rounded-avatar-code{
    width: 770px; 
    height: 298px; 

  }

  .squared-avatar-code{
    width: 766px;
     height: 298px; 

  }

  .text-avatar-code
  {
    width: 670px;
     height: 298px; 

  }

  .solid-btn-code
  {
    width: 720px; 
    height: 316px; 

  }

  .outline-btn-code
  {
    width: 790px; 
    height: 316px;
  }


  .icon-btn-code
  {
    width: 980px; 
    height: 316px; 
  }


  .link-btn-code {
    width: 997px; 
    height: 279px;
  }


  .floating-btn-code{
    width:850px; 
    height: 298px;
  }


  .icon-badge-code{
    width: 724px; 
    height: 465px;
  }


  .avatar-badge-code{
    width: 673px; 
    height: 465px; 
  }


  .hr-code{
    width: 1010px; 
    height: 540px;
  }


  .text-overlay-code{
    width: 1024px;
    height: 558px;
  }

  .badge-card-code{
    width: 1024px;
    height: 558px;
  }

  .vr-code{
    width: 1024px;
     height: 614px;
  }


  .text-card-code
  {
    width: 1024px;
    height: 502px;
  }


  .dismiss-card-code{
    width: 1024px; 
    height: 577px;
  }