/* navbar starts*/

body{
    background-color: var(--background-color);
}


.container{
    min-height:100vh;
    max-width:100%;
    margin-bottom:10rem ;
    padding-right: 5rem;
    display:grid;
    grid-template-columns: 28rem 1fr;
    grid-template-rows: 8rem 1fr;
    gap:2rem;
    grid-template-areas: "header header"
                          "aside  main";


}

.main-navbar{ 

    background-color: var(--secondary-color);
    width:100%;
    height: 13rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:2rem 0.5rem;
    position: fixed;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index:10;
    top:0;
    grid-area: header;
    column-gap:5rem;
    
}


.left-nav{
    font-size: 2.5rem;
    font-weight: 900;
    
}


.left-nav a{
    color:var(--secondary-text-color);
    text-decoration: none;
    margin-top:1.25rem;
    text-shadow: 1px 1px 5px;
    margin-left:2rem;
}


.right-nav{
    display:flex;
    justify-content:space-evenly;
    width:31.25rem;
  
}

.right-nav li{
    list-style-type: none;
}

.right-nav a{
  
    text-decoration: none;
    font-size: 1.8rem;
    color:var(--secondary-text-color);
  
}

.right-nav a:hover{
   border-bottom: 3px solid var(--secondary-text-color);
   
}
/* navbar ends */


/* main-container starts */




  .side-navbar{
    font-size:2rem; 
  
    border-right: 2px solid var(--primary-color);
  
    position: fixed;
    top:15rem;
    left:0;
    z-index:10;
    grid-area: aside;
    margin-top:5rem;
  
    height: 100%;
  }



  .side-navbar-item a{

    margin-left:5rem;
    color:var(--secondary-text-color);
    text-decoration: none;
    margin-right:13rem;
  
  }

  .side-navbar p{
    margin-top:2.2rem;
  }

 
  .side-navbar-item a:hover{
 
 
    text-decoration: underline;
  }

  .side-navbar h4{
      margin-top:1.2rem;
      margin-left:2.5rem;
      color:var(--primary-text-color);
      font-weight: 700;
  }


  /* side-navbar ends */

 .document-container{

     grid-area: main;
     margin-left:4rem;
     height:100%;
 }


.comp-example-sub-container{
    width:80rem;
    display: flex;
    column-gap: 2rem;
    align-items:center;
   
}

.avatar-example-sub-container{
    border: 2px solid var(--primary-color);
    padding:2rem;
    margin-bottom:4rem;
    display:flex;
    column-gap:2rem;
    align-items: center;
    max-width:80rem;
}

.component-code-example{
    margin-top:3rem;
    margin-left:10rem;
    width:80rem;
    height: 40rem;

  }

  .component-para{
      margin-top:4rem;
      margin-bottom:4rem;
      color:var(--primary-text-color);
      margin-right:2rem ;
  }

  .component-code-example::-webkit-scrollbar{
     display:none;
  }

  .component-code-example::-webkit-scrollbar-thumb{
      background:var(--secondary-color);
  }



  .btn{
      margin-right:1rem;
  }

  .floating-action-btn{
      margin-right:2rem;
  }


  .badge-comp-example{
      display:flex;
      justify-content:space-evenly;
      align-items: center;
      width:80rem;
      margin-bottom: 3rem;
      border: 2px solid var(--primary-color);
      padding:2rem;
      margin-top:2rem;
      
  }

  .fa-facebook-square {
      color:#4267B2;
  }

  .fa-whatsapp{
    color:#25D366;
    
  }

.basic-input{
      display:flex;
      flex-direction: column;
      gap:2rem;
      margin-top:2rem;
  }



.lists{
    margin-top:3rem;
}

