


/* navbar starts*/

body{
    background-color: var(--background-color);
}

.main-navbar{ 

    background-image: linear-gradient(to right , var(--background-white-color) , var(--primary-color));
    width:100%;
    height: 10rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:2rem 0.5rem;
    position: fixed;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    top:0;
    
}


.left-nav{
    font-size: 3rem;
    font-weight: 900;
    
}


.left-nav a{
    color:var(--secondary-text-color);
    text-decoration: none;
    margin-top:1.25rem;
    text-shadow: 1px 1px 5px;
    margin-left:20px;
}


.right-nav{
    display:flex;
    justify-content:space-evenly;
    width:31.25rem;
  
}

.right-nav li{
    list-style-type: none;
}

.right-nav a{
  
    text-decoration: none;
    font-size: 1.8rem;
    color:var(--background-white-color);
    font-weight: 500;
  
}

.right-nav a:hover{
   border-bottom: 3px solid var(--background-white-color);
   font-weight: 900;
  
   
}
/* navbar ends */


/* main content starts */



.main-content{
    margin-top:10rem;
}

.top-content{
    
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "btns pic";
}




.top-content img{

    height: 35rem;
    grid-area: pic;
}

.top-content-btns{
    grid-area:btns;
    justify-self:flex-start;
    align-self:center;
    margin-left:3rem;
    margin-bottom: 7rem;
    
}

.top-content-btns h1{
    font-size: 10rem;
    margin-bottom:100px;
   
}

.top-content-btns h1 span{
    color:var(--primary-color);
}

.top-content-btns .get-started-btn{
    
    background-color: var(--primary-color);
    padding:1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border:none;
    width: 20rem;
    margin-right: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}


.top-content-btns .github-btn{

    background-color: var( --background-white-color);
    padding:1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border:2px solid var(--primary-color);
    width: 20rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}


.top-content-btns .get-started-btn a{
    color:var(--background-white-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
 
}



.top-content-btns .github-btn a{
    color:var(--primary-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
}





.bottom-content{
    background-color: var(--primary-color);
    height: 100%;
    padding:10rem 10rem 16rem 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    text-align: center;
    color:var(--secondary-color);
     
}






/* main content ends */
