.basic-input-box{
    background-color: var(--primary-light-color);
    font-weight: 400;
    outline: none;
    border:2px solid var(--primary-text-color);
 
}


.inp-btn{
    width:20rem;
    padding:0.8rem;
    border-radius: 0.5rem;
}


.error{
    background-color: var(--primary-light-color);
    font-weight: 400;
    outline: none;
    border:3px solid var(--outline-danger-btn-text-color);
  

}

.error:focus{
    border: 2px solid var(--primary-text-color);
}


.warn{
    background-color: var(--primary-light-color);
    font-weight: 400;
    outline: none;
    border:3px solid var(--outline-warning-btn-text-color);
  

}

.warn:focus{
    border: 2px solid var(--primary-text-color);
}


.success{
    background-color: var(--primary-light-color);
    font-weight: 400;
    outline: none;
    border:3px solid var( --badge-active-color);
  

}

.error:focus{
    border: 2px solid var(--primary-text-color);
}