@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Comforter&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@700;900&family=Shizuru&family=Smooch&display=swap');

.card{
  
    max-width:37rem;
    height: min-content;
    border-radius: 1.5rem;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    background-color:var(--primary-light-color);
    position: relative;
    row-gap:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}


.card-badge::before{
    position: absolute;
    content: '';
    height: 2.8rem;
    max-width: 2.8rem;
    background: var(--primary-color);
    top:2rem;
    right:-2.2rem;
    transform : rotateY(-100deg);
}



 .card-badge::after{
    position: absolute;
    content: '#1 Best Seller';
    top: 1.5rem;
    right: -10px;
    padding: 0.5rem;
    max-width: 10rem;
    background: var(--primary-color);
    color: var(--solid-btn-text-color);
    text-align: center;
    box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
  } 

  .horizontal-card{
    display: flex;
    flex-direction: column;
    max-width:55rem;
    height: min-content;
    border-radius: 1.5rem;
    background-color:var(--primary-light-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    row-gap:1rem;
}

.horizontal-card-image{
    max-width:14rem;
    height:15rem;
    border-radius: 1.5rem 0 1.5rem 0;

}

.horizontal-card-titles{
    margin-top:2rem;
}


.image-header-container{
    display: flex;
    column-gap: 3rem;
    
}

.overlay{
      position:absolute;
      width:100%;
      height:100%;
      z-index:5;
      background-color: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(0.5px);
      border-radius: 1.5rem;
  
    
  }

.overlay-text{
      position:relative;
      top:25rem;
      text-align:center;
      color:var(--primary-color);
      font-size: 4rem;
}

/* .image-container{
    max-width:37rem;
} */

.image{
    max-width:100%;
    border-radius: 1.5rem 1.5rem 0 0;
    max-width: 37rem;

}


.text-container{
    margin-left:2rem;
    margin-top:1rem;
    
}

.card-subtitle{
    margin-left:2.5rem;
    margin-top:0.5rem;
    color:var(--primary-text-color);
}

.description-container{
    margin: 0.5rem 1rem 0 0.8rem;
    line-height: 2rem;
    color:var(--primary-text-color);
    font-weight: 600;
}

.link-container{
    margin:0 0 1rem 1rem;
    font-weight: 800;
    display:flex;
    justify-content: space-around;
    align-items: center;
}


.dismiss {
    position: relative;
    font-size:2.5rem;
    bottom:500px;
    left: 33rem;
    cursor: pointer;
    font-weight:700;
    background-color: var(--primary-color);
    color:white;
    width:3rem;
    height:3rem;
    text-align: center;
    border-radius: 50%;
}




.card-header{
    text-align: center;
    font-size: 3rem;
    margin-right: 1rem;
    color:#333;
    font-family: 'Caveat', cursive;
    font-weight: 900;
}



.card-content{
    max-width:33rem;
    width:100%;
    border-radius:1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.3s;
}

.card-content:hover{
    transform: scale(1.1);
    cursor: pointer;
}

 .image-contain{
   width:33rem;
   height:33rem;
 }


 .image-contain img{
     width: 100%;
     height: 100%;
     border-radius: 1rem;
     object-fit:fill;
 }


 .card-wrap{
     padding:2rem;
 }

 .card-text-contain h4{
   
    display:flex;
    justify-content: space-between;
    font-size:2rem;
    color:var(--light-grey);
 }

 .card-text-contain p{
     margin-top:1rem;
     color:var(--color-primary-darker);
     font-weight: 900;
 }

 .card-text-contain p span{
    color:var(--light-grey);
    text-decoration: line-through; 
    font-size: 12px;
    margin-right:5px;
   
 }


 .button-text-contain {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
 }


 .rate .fa-star{
   color: gold;
 }


 .fa-heart:hover{
     color:red;
 }
